/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@font-face {
    font-family: 'GT-Pressura-Mono-Regular';
    src: url('../font/GT-Pressura-Mono-Regular.eot'); /* IE9 Compat Modes */
    src: url('../font/GT-Pressura-Mono-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/GT-Pressura-Mono-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../font/GT-Pressura-Mono-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../font/GT-Pressura-Mono-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'GT-Pressura-Mono-Light';
    src: url('../font/GT-Pressura-Mono-Light.eot'); /* IE9 Compat Modes */
    src: url('../font/GT-Pressura-Mono-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/GT-Pressura-Mono-Light.woff') format('woff'), /* Pretty Modern Browsers */
         url('../font/GT-Pressura-Mono-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../font/GT-Pressura-Mono-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}


html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #fff;
    color:#000;
    text-shadow: none;
}

::selection {
    background: #fff;
    color:#000;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

svg {
    max-height: 100%;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Flexbox Styles
   ========================================================================== */

.grid_container {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    max-width: 100%;
}   

    .gallery-header.grid_item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .gallery-header img {
        width: 100%;
        height: auto;
    }

    .gallery-header video {
        width: 100%;
        height: auto;
    }

    .gallery-header_mobile {
        display: none;
    }

/* ==========================================================================
   Helpers
   ========================================================================== */

   .hide_on_desktop {
        display: none !important;
   }

   .hide_on_mobile {
        display: block !important;
   }

/* ==========================================================================
   Recap Video
   ========================================================================== */

   .modal {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0,0,0,.9);
        z-index: -100;
        opacity: 0;
        width: 100%;
        height: 100vh;
    }

    .modal.open {
        z-index: 100;
        opacity: 1;
    }

    .modal_transparent_layer {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        opacity: 0;
        width: 100%;
        height: 100%;    
    }

    .modal_content {
        z-index: 13;
    }

    .close_icon {
        position: absolute;
        right: 32px;
        top: 32px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        z-index: 13;

    }

    .close_icon:hover {
        opacity: 1;
    }   

    .close_icon:before, .close_icon:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 30px;
        width: 1px;
        background-color: white;
    }

    .close_icon:before {
      transform: rotate(45deg);
    }

    .close_icon:after {
      transform: rotate(-45deg);
    }

/* ==========================================================================
   Gallery Grid
   ========================================================================== */

   .gallery_grid {
        display: block;
        width: 100%;
    }

   .grid_grouping {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        height: 800px;
        width: 100%;
   }

   .inner_grid_grouping {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        width: 100%;
        height: 50%;
   }

    .grid_half {
        width: 50%;
        height: 100%;
    }

   .grid_item {
        background-size: cover;
        background-position: center;
   }

   .grid_item.full_height {
        height: 100%;
   }

   .grid_item.half_height {
        height: 50%;
   }

   .grid_item.half_width {
        width: 50%;
   }

    .gallery_grid img {
        width: 100%;
    }

    @media all and (max-width: 768px) {
        .grid_grouping {
            height: 400px;
       }
    }

    @media all and (max-width: 600px) {
        .grid_grouping {
            height: 200px;
       }
    }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   /*
subscribe form
*/






#mc_embed_signup {
    background: none !important;
    display:inline-block;
    position:absolute;
    top:18px;
    right:180px;
    width:300px;
}

#mc_embed_signup input.email {
    display:inline !important;
    margin:0 !important;
    border: 1px solid rgba(255,255,255,1);
    padding:3px !important;
    font-family: 'GT-Pressura-Mono-Light',  helvetica, sans-serif !important;
    font-size:12px;
    width:54% !important;
    background: none !important;
}

#mc_embed_signup input.email:focus, #mc_embed_signup input:focus {
    outline: none !important;
    border-color: white !important;

}

#mc_embed_signup input.button {
    display:inline !important;
    color: black;
    margin:0 0 0 -6px !important;
    border-radius:0 !important;
    height:initial !important;
    line-height:initial !important;
    padding:3px !important;
    border: 1px white solid;
    font-family: 'GT-Pressura-Mono-Light',  helvetica, sans-serif !important;
    font-size:12px;
    background: white;
}

#mc_embed_signup input.button:hover {
 color:#fff;
 background: #000 !important;
}

#mc_embed_signup form {
    padding-right: 15px !important;
}

.relative_mc_embed_signup {
    position: relative !important;
    display: block !important;
    margin: 40px auto 0;
    right: -18px !important;
    top: 0 !important;
}


/* lightbox */

.lightbox {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10000 !important;
    background: rgb(0, 0, 0);
}

.lightbox img {
    max-width: 66%;
    max-height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.close {
    position: fixed;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
}

.close:hover {
    background:#fff;
    color:#000;
}

.toggle-inactive {
    opacity: 0.3;
}

.toggle-inactive:hover {
    opacity: 1;
}




@media all and (max-width:768px) {

    #mc_embed_signup {
        top: 25px;
        right: 15px;
        width: auto;
    }
        #mc_embed_signup form {
            padding-top: 0px !important;
        }

        #mc_embed_signup input[type=email] {
            display: none !important;
        }

    .social {
        display:none;
    }


    #gallery {
        max-width:1280px;
        margin:auto;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        -moz-column-gap: 0;
        -webkit-column-gap: 0;
        column-gap: 0;
        padding-left:0;
    }

    span.spacer {
        display: none;
    }

    .hide_on_desktop {
        display: block !important;
    }

    .hide_on_mobile {
        display: none !important;
    }

}

iframe {
    position:fixed;
    width: 75%;
    height: 75%;
    z-index: 10;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
}

html, body {
    background: #000;
    color: #fff;
    font-family: 'GT-Pressura-Mono-Light',  helvetica, sans-serif;
    letter-spacing:0.12rem;
}

.clear {
    clear:both;
}
1
.inner_wrap {
    position:relative;
    width:100%;
    height:100%;
}

a, a:visited {
    color:#fff;
    text-decoration:none;
}

ul li {
    list-style-type:none;
}

.uppercase {
    text-transform:uppercase;
}

    .teaser {
        padding-top: 50px;
    }

.underline {
    text-decoration: underline;
}

.sized_up {
    font-size:1.25rem;
}

.mobile {
    display:none;
}

#nav {
    display:none;
    position:fixed;
    width:25%;
    height:100%;
    background:#fff;
    z-index:10;
}

    #nav .inner_wrap {
        width:100%;
        height:100%;
        position:relative;
        padding:0;
        margin:0;
    }

        #nav button:focus {
            outline:0;
        }

    .nav_button {
        display: block;
        color: #000;
        background: 0;
        border: 0;
        text-transform: uppercase;
        text-align: left;
        font-size: 23px;
        margin: 20px 0 0 10%;
    }

    .nav_button:hover {
        background:#000;
        color:#fff;
    }

    .close_nav {
        background:0;
        border:0;
        //height:27px;
        width:27px;
        margin-bottom:50px;
    }

    .close_nav:hover {
        background:0;
    }

        .close_nav img {
            width:100%;
            height:auto;
        }

    .nav_social {
        padding:0;
        margin:10% 0 0 12%;
    }

        li.social_icon_nav {
            display: inline;
            overflow:auto;
            margin-right: 35px;
        }

        .social_icon_nav a:hover {
            opacity:.8;
        }

        li.social_icon_nav img {
        height: 20px;
        width: auto;
}

#slideshow {
    position:fixed;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow:scroll;
}

#slideshow li {
    top:0;
    left:0;
    width:100%;
    height:100%;
    position:relative;
    box-sizing:border-box;
    border:5px solid #000;
}

    .prev_link, .next_link {
        display:block;
        position:absolute;
        top:0;
        bottom:0;
        margin:auto;
        width:40px;
        height:40px;
        z-index: 10;
        -webkit-animation: blinker 1.3s infinite; /* Safari 4+ */
        -moz-animation:    blinker 1.3s infinite; /* Fx 5+ */
        -o-animation:      blinker 1.3s infinite; /* Opera 12+ */
        animation:         blinker 1.3s infinite; /* IE 10+, Fx 29+ */
    }

    .prev_link img, .next_link img {
        width:100%;
        height:auto;
        z-index: 10;
    }

    .prev_link:hover, .next_link:hover {
        opacity:0.5;
    }

    .prev_link {
        left:20px;
    }

    .next_link {
        right:20px;
    }

    .down {
        position: fixed;
        bottom: 100px;
        right: 0;
        left: 0;
        margin: auto;
        width:40px;
        height:40px;
        z-index: 10;
        display:block;
        -webkit-animation: blinker 1.3s infinite; /* Safari 4+ */
        -moz-animation:    blinker 1.3s infinite; /* Fx 5+ */
        -o-animation:      blinker 1.3s infinite; /* Opera 12+ */
        animation:         blinker 1.3s infinite; /* IE 10+, Fx 29+ */
    }

    .header {
        position:fixed;
        //position:absolute;
        width:100%;
        top:0;
        z-index: 15;
        height: 70px;
        background-color: rgba(0,0,0, 1);
    }

        .header ul {
            padding:0;
             margin:0;
        }

        .header ul li {
            display:inline;
        }

        .nav_wrap, .social {
            position:absolute;
            background:rgba(0,0,0,.95);
        }

        .nav_wrap {
            top:15px;
            left:15px;
        }

            .nav_toggle {
                //display:none;
                background: 0;
                border: 0;
                padding: 15px;
                font-size: 2.5rem;
                line-height: 0;
                position: relative;
                top: 5px;
            }

            .nav_toggle:focus {
                outline:0;
            }

        .social {

            top:27px;
            right:25px;
        }

            .social_icon:first-child a {
                padding:0px !important;
            }

            .social_icon:nth-child(2) a {
                padding:0px !important;
            }

            .social_icon:nth-child(3) a {
                padding:0px !important;
            }

                .social_icon img {
                    width: 15px;
                    height: 15px;
                }

                .social_icon img.soundcloud {
                    height: 10px;
                    width: auto;
                    fill: red;
                }

            .social a:last-child {
                color: #fff;
                text-decoration: none;
                padding: 0px 10px 0px 0px;
                text-transform:uppercase;
            }

                .tickets:hover, .artists a:hover, #jon_hopkins_link:hover, #gesaffelstein_link:hover, .visual_artist_link:hover {
                    background:#fff !important;
                    color:#000;
                }

                .visual_artist_link {
                    margin:0 10px;
                }

    .content {
        text-align:center;
        position:absolute;
        left:50%;
        top:50%;
        -webkit-transform:translate(-50%, -50%);
        -moz-transform:translate(-50%, -50%);
        transform:translate(-50%, -50%);
        width:100%;
    }

    .content#iframe {
        height:400px;
        overflow:hidden;
    }

    #fourth .content, #third .content, #first .content {
        top:80px;
        -webkit-transform:translate(-50%, 0%);
        -moz-transform:translate(-50%, 0%);
        transform:translate(-50%, 0%);
        margin-bottom:100px;
        height: 80%;
    }

    .about-wrapper {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        overflow: auto;
    }

    .about-content {
        flex: 0 1 auto;
        position: relative;
        overflow-y: auto;
    }

    #travel-info {
        position: fixed;
        z-index: 10;
        bottom: 0;
        right: 0;
        width: 92px;
        height: 92px;
        background-image: url(../img/travel-info_inactive.svg);
        background-size: cover;
        display: block;
    }

    #travel-info:hover {
        background-image: url(../img/travel-info_active.svg);
    }


        /* home page */

        .img_wrap {
            width:90%;
            max-width:692px;
            margin:0 auto;
        }

            .logo_main img {
                width:100%;
                height:auto;
                z-index: 10;
                margin-bottom: 30px;
            }

        .logo_main p {
            margin:0 auto 25px;
            line-height: 1.75em;
        }

        .logo_main p:nth-of-type(2) {
            font-size:1.25rem;
        }

        .arrow {
            background:#000;
            width:30px;
            height:15px;
            display:inline-block;
            position:relative;
        }

            .arrow img {
                width:33.33%;
                position:absolute;
                top:0;
                left:0;
                right:0;
                bottom:0;
                margin:auto;
            }

        .arrows .uppercase {
            margin-top:20px;
        }

        .tickets_link {
           margin:60px 0;
        }

            .tickets {
                text-decoration: none;
                padding: 10px 30px;
                border: 2px solid #fff;
            }

        .tickets-button {
            padding: 10px 0 10px 3%;
            color: black;
            display: inline-block;
            position: absolute;
            top: 18px;
            right: 50px;
            width: 300px;
        }

        .tickets-button a {
            display: inline-block;
            background-color: white;
            color: black;
            border: 1px solid white;
            font-family: 'GT-Pressura-Mono-Light',  helvetica, sans-serif ;
            font-size: 12px;
            padding: 4px 10px;
        }

        .tickets-button a:hover {
            background-color: black;
            color: white;
        }

        /* gallery */

        div#gallery-wrapper {
            position:relative;
        }

        #gallery-link {
            position: fixed;
            top: 50%;
            left: 50%;
            background-color: black;
            border: 2px solid white;
            width: 200px;
            height: 80px;
            margin-left: -100px;
            margin-top: -40px;
            z-index: 5;
        }

            #gallery-link:hover {
                text-decoration: underline;
            }

        #gallery-link a {
            padding-top: 15px;
            display: block;
            text-align: center;
            padding-bottom: 15px;
        }


        #second .footer:after {
            position: absolute;
            content: "";
            height: 10px;
            background: #000;
            bottom: 45px;
            width: 100%;
            left: 0;
        }



        #gallery {
            max-width:1180px;
            margin:auto auto 80px;
            -moz-column-count: 4;
            -webkit-column-count: 4;
            column-count: 4;
            -moz-column-gap: 0;
            -webkit-column-gap: 0;
            column-gap: 0;
            padding-left:0;
        }

        #gallery li {
            width:100%;
        }

        #gallery li img {
            width:100%;
            height:auto;
        }

        #third .about-content > div {
            padding: 20px;
        }

        #third .content > div:first-child {
            margin-bottom: 1em;
        }

        .lineup-small {
            max-width: 300px;
            width: 100%;
            margin: auto;
        }

        .linup-small img {
            width: 100%;
            height: auto;
        }

        #lineup {
            width: 100%;
            max-width: 600px;
            margin: auto;
            padding: 20px;
            box-sizing: border-box;
        }

            #moon-runner {
                width: 43%;
                float: left;
            }

            #spacer-1 {
                width: 10%;
                float: left;
            }

            #super-studio {
                width: 47%;
                float: right;
            }

            #nino-arbol {
                width: 50%;
                float: left;
            }

            #spacer-2  {
                width: 15%;
                float: left;
            }

            #bby-jss {
                width: 35%;
                float: right;
            }

        .lineup_artist {
            display: block;
            margin-bottom: 1em;
        }

            .lineup_artist svg {
                width: 100%;
                height: auto;
            }

            .lineup_artist img {
                width: 100%;
            }

            .lineup_artist:hover .svg path {
                fill: black;
            }

            .lineup_artist:hover {
                background-color: white;
            }

            .spacer:hover {
                background-color: black;
            }



        .spacer {
            width: 10px;
        }

        .lineup_row {
            width: 100%;
            height: auto;
            display: inline-block;
        }

        .visual-artists {
            font-size: 1.2em;
        }

        .visual-artists a {
            display: inline-block;
            padding: 0px 4px;
        }

        .visual-artists a:hover {
            color: black;
            background-color: white;
        }


        .partner-logo {
            margin-bottom: 20px;
            margin-right: 20px;
            display: inline-block;
        }

        .main-partner {
            margin-right: 0px;
            display: block;
        }

        .partner-logo:last-of-type {
            margin-right: 0px;
        }



        #view-gallery, #travel-info_mobile {
            margin: 50px auto 0 !important;
            display: block;
            background:none !important;
            border:none !important;
            padding:10px 20px !important;
            border:2px solid #fff !important;
            color:#fff;
            font-size:1rem;
        }

        #view-gallery:hover, #travel-info_mobile:hover {
            color:#000 !important;
            background:#fff !important;
        }

        #view-gallery {
            width: 9em;
        }

        .white_button {
            margin: 40px auto 0 !important;
            display: inline-block;
            background:none !important;
            border:2px solid #fff !important;
            padding:10px 20px !important;
            color: #000 !important;
            background-color: #fff !important;
            font-size:1rem;
            cursor: pointer;
        }

        .white_button:hover {
            color:#fff !important;
            background: none !important;
        }

        #travel-info_mobile {
            display: none;
            width: 8em;
            margin-top: 1.5em !important;
        }


        /* artists page */

        img.artists {
            width: 95%;
            margin: 0 auto 50px;
            max-width: 650px;

        }

        div.artists {
            width: 95%;
            max-width: 630px;
            margin: 0 auto 50px;
        }

            .artists_svg {
                display:none;
            }

            .no-kern {
                letter-spacing:0;
            }

            .small {
                text-align: right;
                margin: -15px 0 10px;
                font-size:1rem;
                letter-spacing:initial;
            }

            .small:last-of-type {
                float:right;
            }

            .gesaffelstein {
                font-size: 4.5rem;
                letter-spacing: .35rem;
                margin-bottom:10px;
            }

            .jon_hopkins {
                position: relative;
                font-size: 4rem;
                letter-spacing: 1.1rem;
                margin: -20px 0 0;
            }

                #jon_hopkins_link,#gesaffelstein_link {
                    display:block;
                    overflow:hidden;
                }

                    #jon_hopkins_link .left {
                        padding-left: 17px;
                    }

                    #jon_hopkins_link .right {
                        padding-right: 21px;
                    }

                .left {
                    float:left;
                }

                .right {
                    float:right;
                }

            .tba {
                font-size: 3rem;
                letter-spacing: 0.5rem;
            }

            .flat_white {
                font-size: 1.75rem;
                letter-spacing: .534rem;
            }

            .gener8tion {
                font-size: 1.75rem;
                letter-spacing: 1rem;
                margin-top: 28px;
            }

        /* info page */

        .about {
            font-size: 0.9rem;
            line-height: 1.5rem;
            margin: 50px auto;
            max-width:680px;
            text-transform: uppercase;
            font-family: 'GT-Pressura-Mono-Light', helvetica, sans-serif;
        }

        .partners {
            padding:0;
        }

            .partners li {
                list-style:none;
                display:inline-block;
                height:66px !important;
                width:initial !important;
                overflow:auto;
                margin:25px !important;
            }

                .partners li img {
                    height:100% !important;
                    width:auto !important;
                }

    .footer {
        //position:absolute;
        position:fixed;
        bottom:0;
        width:100%;
        text-align:center;
        padding:15px 0;
        background:#000;
        font-size:.75rem;
/*        box-shadow:0px -9px 40px 0px black;
        -moz-box-shadow:0px -9px 40px 0px black;
        -webkit-box-shadow:0px -9px 40px 0px black;*/
    }

    .footer a {
        display: inline-block;
        margin-right: 30px;
    }

    .footer a:last-child {
        margin-right: 0;
    }


@-webkit-keyframes blinker {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes blinker {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes blinker {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes blinker {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.blinker {
    -webkit-animation: blinker .75s infinite; /* Safari 4+ */
    -moz-animation:    blinker .75s infinite; /* Fx 5+ */
    -o-animation:      blinker .75s infinite; /* Opera 12+ */
    animation:         blinker .75s infinite; /* IE 10+, Fx 29+ */
}

@media all and (max-device-width:768px) {

/*    #gallery-link {
        position: static;
        margin: auto;
        top: auto;
        left: auto;
    }*/



    .down {
        display: none;
    }

    .slide {
        margin-bottom: 100px;
    }

    #first {
        margin-top: 100px;
    }

    #fourth .content, #third .content, #first .content {
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
        top: 0px;
    }



    .nav_wrap {
        top: 20px;
        left: 5px;
    }

    #mc_embed_signup {
        top: 20px;
        right: 15px;
        width: auto;
    }
        #mc_embed_signup form {
            padding-top: 0px !important;
        }

        #mc_embed_signup input[type=email] {
            display: none !important;
        }

    #gallery-link {
        display: none;
        width: 150px;
        margin-left: -75px;
        font-size: .75em;
        height: 64px;
        background: none;
    }

    .header {
        display:none;
    }

    #first .header {
        display:block;
    }

    .social {
        display:none;
    }

    #slideshow {
        padding-top: 0;
/*        overflow-y: scroll;  has to be scroll, not auto
        -webkit-overflow-scrolling: touch;*/
    }

        #slideshow li {
            height:auto;
        }

    .nav_toggle {
        display:none;
    }

    .desktop {
        display:none;
    }

    .mobile {
        display:block;
    }

    .img_wrap {
        width:66%;
    }

    .logo_main p:first-of-type {
        font-size:1rem;
    }

    .logo_main p:nth-of-type(2) {
        font-size:1.15rem;
    }

    .arrows {
        display:none;
    }

    .content {
        position:relative;
        top:initial;
        left:initial;
        -webkit-transform:none;
        -moz-transform:none;
        transform:none;
    }

    .tickets_link {
        margin:50px 0;
    }

    .artists * {
        font-size:1rem;
        margin:0;
        letter-spacing:initial;
    }

    .artists_svg {
        display:block;
        position:relative;
        margin-bottom:7%;
    }

    .artists_svg a {
        position: absolute;
        width: 100%;
        display: block;
        left: 0;
    }

    .artists_svg a:nth-of-type(1) {
        top:0;
        height: 30%;
    }

    .artists_svg a:nth-of-type(2) {
        top:30%;
        height: 30%;
    }

    .artists_svg a:nth-of-type(3) {
        top:60%;
        height: 15%;
    }

    .artists_svg a:nth-of-type(4) {
        top:75%;
        height: 20%;
    }

        .artists_svg img {
            width: 90%;
            margin: auto;
        }

    .artists_text {
        display:none;
    }

    .artists a {
        //background:#fff;
        margin-bottom:5px;
        //color:#000;
    }


    .gesaffelstein {
        margin-top:25px !important;
    }

    .jon_hopkins div {
        float:none;
        display:inline-block;
    }

    #jon_hopkins_link {
        display:initial;
    }

    #tickets {
        display:none;
    }

    .visual_artist {
        display:block;
    }

    .about {
        width:90%;
        padding:5%;
        font-size:1rem;
        line-height:1.5rem;
        margin-bottom:0;
    }

    .about.final {
        margin-bottom:50px;
    }

    .about br {
        display:none;
    }

    .prev_link, .next_link {
        display:none;
    }

    .small {
        text-align:center;
        float:none !important;
    }

    .partners {
        margin-bottom:150px;
    }

    .visual-artists a {
        display: block;
    }

    #travel-info_mobile {
        display: inline-block;
    }

    #travel-info {
        display: none;
    }

    .gallery-header_mobile {
        display: block;
    }

    .gallery-header_desktop {
        display: none;
    }

}

@media all and (min-device-width:769px) {
    #second .content {
        height:90vh;
        overflow:scroll;
        top:10vh;
        -webkit-transform:translate(-50%,0);
        -moz-transform:translate(-50%,0);
        transform:translate(-50%,0);
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
